.block_item {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
}

.block_item p {
  margin: 0;
}

.button_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.button_container button {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 10px;
}
.butoon_margin {
  margin-right: 5px;
}

.block_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.block_column {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  flex: 1;
}

.block_item {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(36, 23, 23);
  transition: 0.3s;
  border-radius: 10px;
  overflow: hidden;
}

.container {
  padding: 2px 16px;
}

.card:hover {
  box-shadow: 10px 8px 16px 6px rgba(241, 109, 76, 0.2);
}
h4 {
  margin: 0;
}
p {
  padding-top: 5px;
  padding-bottom: 10px;
}


h2{
  text-align: center;
}
