nav {
  display: flex;

  width: 90%;
  justify-content: center;
  align-items: center;
  padding-left: 100px; 
}




.seach {
  background-image: url("D:\Narnia-Web\my-app\src\img\free-icon-magnifier-2311526.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 30px;
  padding-right: 20px;

  height: 30px;
  border-radius: 30px;
  width: 400px;
  padding: 2px 40px;

  transition: padding 0.2s;
}
.search:focus {
  padding: 10px 20px;
}




